.cards__name-link{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: end;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media screen and (max-width: 320px){
    .cards__name-link{
        visibility: hidden;
    }
}