.footer__link{
    margin: 0;
    padding-right: 18px;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    transition: opacity .25s ease-in-out;
}

.footer__link:hover {
    opacity: 0.8;
    }