.cards__item{
    width: calc(100% - 296px);
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
    row-gap: 44px;
    padding-top: 80px;
}




@media screen and (max-width: 1024px){
    .cards__item{
        width: calc(100% - 96px);
        max-width: 928px;
    }
}


@media screen and (max-width: 768px){
    .cards__item{
        width: calc(100% - 48px);
        max-width: 720px;
    }
}

@media screen and (max-width: 320px){
    .cards__item{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0 0;
        column-gap: 0;
        row-gap: 0;
        padding-top: 24px;
        padding-bottom: 0;
    }
}