.cards__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style:  normal;
    font-weight: 900;
    margin:0;
    padding: 0;
    list-style-type: none;
    font-size: 72px;
    line-height: 106%;
    align-self: end;
}






@media screen and (max-width: 800px){
    .cards__title{
        font-size: 60px;
    }
}

@media screen and (max-width: 768px){
    .cards__title{
        font-size: 48px;
    }
}




@media screen and (max-width: 748px){
    .cards__title{
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
