.lead__image{
    width: 100%;
    height: auto;
    max-width: 984px;
    max-height: 615px;

}

@media screen and (max-width: 1024px){
    .lead__image{
        max-width: 928px;
        max-height: 580px;
    }

}


@media screen and (max-width: 768px){
    .lead__image{
        max-width: 768px;
        max-height: 480px;
    }

}

@media screen and (max-width: 320px){
    .lead__image{
        max-width: 320px;
        max-height: 200px;
    }

}

Часовых поясов 11
Объектов природного наследия ЮНЕСКО 12
Объектов культурного наследия ЮНЕСКО 16
Природных заповедников 105
Аэропортов 241