.lead__subtitle{
    max-width: 620px;
    max-height: 72px;
    text-align: center;
    margin:0;
    padding: 0;
    list-style-type: none;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 62px;
}

@media screen and (max-width: 1024px){
    .lead__subtitle{
        padding-bottom: 56px;
    }

}

@media screen and (max-width: 320px){
    .lead__subtitle{
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
        padding-bottom: 40px;
    }

}